
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Verdana', arial;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  .nav-container {
    background: #615651;

    a {
        color: aliceblue;
    }
    
  }

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em;
  }
  
  header .logo {
    color: #f2f3f549;
    font-weight: bold;
  }

  nav{
      float: right;

      ul{
          display: flex;
      }

      a {
          display: block;
          padding: 0 1rem;
      }

      .icon {
        display: block;
        padding: 0 1rem;
      }
  }
  .social-header, .hero-design {
      display: none;
  } 

  .hero
   {
      background: blue;
      color: white;
      display: grid;
      text-align: center;
      padding: 4em;
  }

.meet {
     display: flexbox;
     margin: 0 auto;
     width: 200px;
     font-weight: bold;
     color: rgb(146, 162, 224);

}

.scroll {
    width: 30px;
    margin-right: 2em;    
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}


.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color:  #6E00FF;
    letter-spacing: .1em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.7em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}
.skills {
    background: #FF64CB;
}

.skills-container ul li {

    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 50px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 60px;
        }
    }

    .skill-title {
        font-weight: bold;
    }
    .featured-desc {
        margin-bottom: 2em;
    }

}
@media only screen and (min-width: 800px) {

    .featured {
        text-align: left;
    }
    .featured {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left {
        display: grid;
        place-content: center;
    }

    .right {
        // margin-left: 2em;
        // margin-top: 1em;
        display: block;
        position: relative;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .copyright {
        padding-top: 10em;
        block-size: 2;
    }

}


@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background:  #360a70;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            a{
                width: 20px;
                background: black;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #6E00FF;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
        .img-content{
            // background-image: linear-gradient(to right,#6E00FF, #360a70);
            margin-left: 50px;
            // position: fixed;
            height: 590px;
            right: 0;
            position: sticky;
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design{
        display: none;
    }
}
.right-img {
    float: right;
    width: 40%;
}

.options {
    position: sticky;
}